<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="description" content="Personal Website of LiuYixiu">
{{/*<link rel="icon" type="image/png"  href="{{ relLangURL "img/favicon.png" }}">*/}}

<!-- favicon -->
{{ partialCached "essentials/favicon" . }}

<title>{{ site.Title  }}</title>

<link rel="stylesheet" href="{{ relLangURL  "css/bootstrap.min.css" }}">
<link rel="stylesheet" href="{{ relLangURL  "css/main.css" }}">
<link rel="stylesheet" href="{{ relLangURL  "css/custom.css" }}">
